<script lang="ts" setup>
import {ref} from 'vue';
import type { VForm } from 'vuetify/components';
import { useloginStore } from "@/stores/login";
const loginStore = useloginStore();
const emit = defineEmits<{
  (e:"login",username: string):void;
}>();

const loginname = ref("");
const password = ref("");
const valid = ref(true);
const form = ref<InstanceType<typeof VForm> | null>(null);
const login = async () => {
  const {valid} = await form.value!.validate();
  if(valid){
    loginStore.login(loginname.value);
  } 
}
const reset = () => {
  form.value?.reset();
}

</script>
<template>
  <v-app>
    <v-main class="pa-16 bg-blue-grey-darken-4">
      <v-card width="300px" class="mx-auto">
        <v-card-title primary-title class="text-center text-h6 font-weight-bold"> Login </v-card-title>
        <v-card-text>
          <v-form ref="form" v-model="valid">
            <v-text-field label="Login name"  v-model="loginname" :rules="[(v) => !!v || 'Login name is required',
            (v) => v.length >= 4 || 'Name must be more than or eqaul 4 character',]" required></v-text-field>
            <v-text-field label="Password" type="password" v-model="password" :rules="[(v) => !!v || 'Password is required',
          (v) => v.length >= 8 || 'Password must be more 8 character', ]" required></v-text-field>
          </v-form>
        </v-card-text>
        <v-card-actions class="justify-center">
          <v-btn color="success" @click="login">Login</v-btn>
          <v-btn color="error" @click="reset">Clear</v-btn>
        </v-card-actions>
      </v-card>
    </v-main>
  </v-app>
</template>